<div *ngIf="admin==true">
  <app-appointment-search></app-appointment-search>
  <div class="module appts-by-specials" *ngFor="let special of specials">
    <h3>{{special.name}} Special</h3>
    <!-- <a class='photo' style="text-align:center" routerLink="/appointments/{{special._id}}">
      <img class='photo1' alt="{{special.name}}" src="{{special.photoDir}}">
    </a><br/> -->
    <a class='photo' *ngIf="special.photoDir != ''" style="text-align:center" routerLink="/appointments/{{special._id}}">
      <img class='photo1' alt="{{special.name}}" src="{{special.photoDir}}">
    </a><br/>
    <a class='photo' *ngIf="special.photoDir == ''" style="text-align:center" routerLink="/appointments/{{special._id}}">
      <img class='photo1' alt="{{special.name}}" src="assets/img/cjphotos.png">
    </a><br/>
    <div class="desc-div" *ngIf="special.description != null">
      <label class="inputLabel">Details</label><br />
      <p class="description">{{special.description}}</p>
    </div>
    <br/>
    <a class="book-christmas" routerLink="/appointments/{{special._id}}">
        <div class="specials">
          <h2>Select</h2>
        </div>
    </a>
  </div>
</div>
