<!-- <div class="module book-appointment" *ngFor="let special of specials">
  <h3>{{special.name}} Special</h3>
  <a class='photo' style="text-align:center" routerLink="/book-detail/{{special._id}}">
    <img class='photo1' *ngIf="special.photoDir!=''" alt="{{special.name}}" src="{{special.photoDir}}">
    <div class="desc-div" *ngIf="special.photoDir==''">
      <p class="description">Image coming soon!</p>
    </div>
  </a><br/>
  <div class="desc-div" *ngIf="special.description != null">
    <label class="inputLabel">Details</label><br />
    <p class="description">{{special.description}}</p>
  </div>
  <br/>
  <a class="book-christmas" routerLink="/book-detail/{{special._id}}">
      <div class="specials">
        <h2>Select</h2>
      </div>
  </a>
</div> -->
<div class="module book-appointment" *ngIf="specials == null">
  <h3>Loading...</h3>
  <a class="book-christmas" (click)="getSpecials()">
      <div class="specials">
        <h2>Reload Page</h2>
      </div>
  </a>
</div>
<div class="module book-appointment" *ngIf="specials != null && specials.length == 0">
  <h3>No Results Found</h3>
  <a class="book-christmas" (click)="getSpecials()">
      <div class="specials">
        <h2>Reload Page</h2>
      </div>
  </a>
</div>
<div class="module book-appointment" *ngFor="let special of specials">
  <h3>{{special.name}} Special</h3>
  <a class='photo' *ngIf="special.photoDir != ''" style="text-align:center" routerLink="/book-detail/{{special._id}}">
    <img class='photo1' alt="{{special.name}}" src="{{special.photoDir}}">
  </a><br/>
  <a class='photo' *ngIf="special.photoDir == ''" style="text-align:center" routerLink="/book-detail/{{special._id}}">
    <img class='photo1' alt="{{special.name}}" src="assets/img/cjphotos.png">
  </a><br/>
  <div class="desc-div" *ngIf="special.description != null">
    <label class="inputLabel">Details</label><br />
    <p class="description">{{special.description}}</p>
  </div>
  <br/>
  <a class="book-christmas" routerLink="/book-detail/{{special._id}}">
      <div class="specials">
        <h2>Select</h2>
      </div>
  </a>
</div>
