<div class="module appointments" *ngIf="appointment == null && admin!=true">
  <!-- <h3>Loading...</h3> -->
  <mat-spinner style="margin:50px auto;"></mat-spinner>
  <a (click)="reloadPage()">
      <div class="specials">
        <h2>Reload Page</h2>
      </div>
  </a>
</div>
<div *ngIf="appointment && admin!=true" class="module appointment-detail">
  <div class="heading">
    <h2>Appointment Details</h2>
  </div>
  <br />
  <div class="appts-div">
    <p class="detail">Name: {{appointment.first + ' ' + appointment.last}}</p>
    <p class="detail">Date: {{convertDate(appointment.date)}}</p>
    <p class="detail">Time: {{convertTime(appointment.time)}}</p>
  </div>
</div>


<div class="module appointments" *ngIf="appointment == null && admin==true">
  <!-- <h3>Loading...</h3> -->
  <mat-spinner style="margin:50px auto;"></mat-spinner>
  <a (click)="reloadPage()">
      <div class="specials">
        <h2>Reload Page</h2>
      </div>
  </a>
</div>
<div *ngIf="appointment && admin==true" class="module appointment-detail">
  <div class="heading">
    <h2>Appointment Details</h2>
  </div>
  <br />
  <label class="inputLabel">First Name
    <br />
    <input class="input" [(ngModel)]="appointment.first" placeholder="first name...">
  </label>
  <br />
  <label class="inputLabel">Last Name
    <br />
    <input class="input" [(ngModel)]="appointment.last" placeholder="last name...">
  </label>
  <br />
  <label class="inputLabel">Email
    <br />
    <input class="input" [(ngModel)]="appointment.email" placeholder="email...">
  </label>
  <br />
  <label class="inputLabel">Phone Number
    <br />
    <input class="input" [(ngModel)]="appointment.phone" placeholder="XXXXXXXXXX" maxlength="15">
    <!-- <input class="inputPhone" #appointmentPhone1 placeholder="XXX" maxlength="3"> -
    <input class="inputPhone" #appointmentPhone2 placeholder="XXX" maxlength="3"> -
    <input class="inputPhone2" #appointmentPhone3 placeholder="XXXX" maxlength="4"> -->
  </label>
  <!-- <div class="fullName"><span>Name: </span>{{appointment.first + ' ' + appointment.last}}</div>
  <br />
  <div class="fullName"><span>Email: </span>{{appointment.email}}</div>
  <br />
  <div class="fullName"><span>Phone: </span>{{convertPhone(appointment.phone)}}</div>
  <br />
  <div class="fullName"><span>Special Type: </span>{{special.name}}</div>
  <br /> -->

  <!-- <div>
    <label>Date: {{appointment.date}}</label>
  </div>
  <div>
    <label>Time: {{appointment.time}}</label>
  </div> -->

  <!-- [(ngModel)]="appointment.time" -->
  <br />
  <label class="inputLabel">Date & Time</label>
  <br />
  <div class="mat-div">
    <mat-form-field class="mat-input-1">
      <mat-select [(ngModel)]="appointment.date" placeholder="Choose a date" required>
        <mat-option *ngFor="let date of special.dates" [(value)]="date.value">
          {{convertDate(date.value)}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field class="mat-input-2">
      <mat-select [(ngModel)]="appointment.time" placeholder="Choose a time" [disabled]="appointment.date === null" >
        <mat-option *ngFor="let time of special.dates[getDateIndex(appointment.date, special)].times" [(value)]="time.value" [disabled]="time.isBooked === true">
          {{convertTime(time.value)}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <br />
  <button class="submitButton" (click)="save()">
    Save
  </button>
  <button class="submitButton" (click)="goBack()">Go Back</button>
  <br />
  <button class="cancelButton" (click)="cancelAppt()">Cancel Appointment</button>

  <!-- <button (click)="save()">save</button>
  <button (click)="goBack()">go back</button> -->
</div>
