<!-- <h3>Top Appointments</h3> -->
<!-- <div class="grid grid-pad">
  <a *ngFor="let appointment of appointments" class="col-1-4"
      routerLink="/detail/{{appointment._id}}">
      <div class="module appointment">
        <h4>{{appointment.date}}</h4>
      </div>
  </a>
</div> -->
<div class="dash-buttons">
  <div class="bookings">
    <a class="book-appointment" routerLink="/book-appointment">
        <div class="module book-appointment">
          <h2>Book Appointment</h2>
        </div>
    </a><br/>
    <!-- <app-appointment-search></app-appointment-search> -->

    <a class="original" href="https://www.facebook.com/cjphotosfl/">
        <div class="module book-appointment">
          <h2>Go to Facebook</h2>
        </div>
    </a>
  </div>
</div>
